/* Hide sidebars hanya di halaman home */
body[data-dg-home="true"] .site-body-left-column,
body[data-dg-home="true"] .site-body-right-column {
  display: none !important;
}

/* Biar konten home full width */
body[data-dg-home="true"] .site-body-center-column {
  max-width: 100% !important;
  flex: 1 !important;
}
